.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#IRANYekan font files
public/fonts/IRANYekanWeb.eot
public/fonts/IRANYekanWeb.woff
public/fonts/IRANYekanWeb.ttf
public/fonts/IRANYekanWeb.woff2